.right-0 {
    right: calc(100% * 0);
}

.right-1 {
    right: calc(100% * 1);
}

.right-1-2 {
    right: calc(100% * 0.5);
}

.right-2-3 {
    right: calc(100% * 0.6667);
}

.right-3-4 {
    right: calc(100% * 0.75);
}
