@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap")
layer(base);

@import "tailwindcss";
@import "../tailwind/common/base.scss";
@import "../tailwind/common/utils.scss";
@import "../tailwind/common/layout.scss";
@import "../tailwind/component/utils.scss";

@custom-variant dark (&:is(.dark *));

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #344054;
}

@layer base {
    body {
        @apply relative text-base font-normal z-1 bg-gray-50;
    }
}

@layer utilities {
    /* For Remove Date Icon */
    input[type="date"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}